iframe(	
		id="explicit",
	   	src="http://www.weatherfor.us/load.php?location=Chicago&unit=metric",
	   	scrolling="no",
	   	frameborder="0",
	   	allowtransparency="true",
	   	style="background:transparent; width: 500px; height: 250px; overflow: hidden; margin-top: -39px; margin-left: -39px"
	  )