iframe(	
		id="explicit",
	   	src="http://www.weatherfor.us/load.php?location=Chicago&unit=metric",
	   	scrolling="no",
	   	frameborder="0",
	   	allowtransparency="true",
	   	style="background:transparent; width: 720px; height: 250px; overflow: hidden;"
	  )